<div class="select_custom" >
    <div ng-click="toogleClick()">
        <span class="select_rendered" ng-bind-html="selected"></span>
        <span class="select_rendered select_placeholder" ng-bind="placeholder" ng-show="selected ===''"></span>
    
        <span class="select_arrow">
            <i class="fa fa-angle-up" ng-show="arrowUp"></i>
            <i class="fa fa-angle-down" ng-show="!arrowUp"></i>
        </span>
    </div>
    
    <span class="select_dropdown" ng-show="clicked">
                    <span class="select_search">
                        <input type="text" ng-model="search" autofocus>
                    </span>
    <ul class="select_listitens">        
        <li  ng-if="withTemplate" ng-repeat="ar in template | filter:search track by $index"
            ng-click="setSelected(ar)" ng-bind-html="render(ar)">
        </li>
        <li  ng-if="!withTemplate" ng-repeat="ar in array | filter:search track by $index"
            ng-click="setSelected(ar)" ng-bind="ar">
        </li>
    </ul>
    </span>
</div>
