<div class="select_custom" >
    <span class="select_rendered" ng-click="toogleClick()">Ojeto renderizado</span>
    <span class="select_arrow">
        <i class="fa fa-angle-up" ng-show="arrowUp"></i>
        <i class="fa fa-angle-down" ng-show="!arrowUp"></i>
    </span>
    <span class="select_dropdown" ng-show="clicked">
                    <span class="select_search">
                        <input type="text" ng-model="search" autofocus>
                    </span>
    <ul class="select_listitens">
        <li ng-repeat="ar in array | filter:search track by $index" ng-bind="ar"></li>
    </ul>
    </span>
</div>
