.select_custom{
    display: block;
    border:0.05em solid #aaaaaa;
    border-radius: 0.25em;
    width: 100% ;
    min-height: 1.9em;
}

.select_rendered {
    display: block;
    padding-left: 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.6em;
    margin-bottom: 0.25em;  
    cursor: pointer;  
}

.select_placeholder{
    color:#aaaaaa;
}

.select_arrow {
    color:#aaaaaa;
    height: 1.6em;
    position: absolute;
    right: 1em;
    width: 1.1em;
}

.select_arrow_up{
    bottom: 0.2em;
}
.select_arrow_down{
    top:2.2em;
}

.select_dropdown{
    border:0.05em solid #aaaaaa;   
    border-bottom-right-radius:  0.25em;
    border-bottom-left-radius:  0.25em; 
    background-color:#fff;
    display: block;
    position: absolute;
    z-index: 9999;
    width: calc(100% - 1.8em);
}

.select_search{
    margin-left: 0.3em;
}

.select_search input{
    width :calc(100% - 0.6em);
    border-radius: 0.2em;
    border:0.05em solid #aaaaaa;
    padding-left: 7.5px;
    margin-top:5px;
}

/*.select_custom{
    display: block;
    border:1px solid #aaaaaa;
    border-radius: 5px;
    width: 100% ;
    min-height: 32px;
}

.select_rendered {
    display: block;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
    margin-bottom: 2.5px;  
    cursor: pointer;  
}
.select_placeholder{
    color:#aaaaaa;
}

.select_arrow {
    color:#aaaaaa;
    height: 26px;
    position: absolute;
    right: 15px;
    width: 20px;
}

.select_arrow_up{
    bottom: 2px;
}
.select_arrow_down{
    top:33px;
}

.select_dropdown{
    width: 100%;
    min-height: 50px;
    border: 1px solid #aaaaaa;   
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    background-color:#fff;
    display: block;
    position: absolute;
    z-index: 9999;
}

.select_search{
    margin-left: 8px;
}

.select_search input{
    width :92.5%;
    border-radius: 2px;
    border:1px solid #aaaaaa;
    padding-left: 7.5px;
    margin-top:5px;
}

.select_listitens{
    margin-top: 8px;
    margin-bottom: 2.5px;
    list-style: none;
    width:100%;
    padding-left:0;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select_listitens li{
    display: list-item;
    min-height: 35px;
    padding-left:9px;
}

.select_listitens li:hover{
    background-color: #4d9df3;
    color: #fff;
    cursor: pointer;
}
*/

